.git
.github
.cursor
.vscode
.idea
**/.nuxt
**/.output
**/.data
**/.nitro
**/.cache
**/.pnpm-store
**/node_modules
**/dist
**/coverage
*.log
*.md
!README.md
LICENSE
.editorconfig
eslint.config.mjs
vitest.config.ts
